---
import logo from "../../../../public/logo.svg?raw";
import "./header.css";
---

<header class="flex justify-center py-6">
  <a href="." class="justify-self-center inline-flex p-5">
    <Fragment set:html={logo} width="150px" height="100%" />
  </a>
</header>
