---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1
    class="text-3xl font-bold font-noto justify-center text-center py-14 px-6"
  >
    Protege su Curiosidad, Asegura su Hogar y Bienestar
  </h1>
</BaseLayout>
