---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-800 text-white py-4 text-sm text-center">
  <p>&copy; {currentYear} Gatuari. Todos los derechos reservados.</p>
</footer>
