---
import BaseHead from "../components/BaseHead.astro";
import "../styles/globals.css";
import Header from "../components/global/Header/header.astro";
---

<html
  lang="es"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead />
  </head>
  <body class="flex flex-col min-h-svh">
    <Header />
    <main class="grow"><slot /></main>
  </body>
</html>
