---

---

<div class="bg-slate-600 pb-10">
  <section class="my-16 mx-auto max-w-prose p-6">
    <h2
      class="text-white p-10 py-12 text-2xl font-noto text-center lg:text-3xl lg:py-40 lg:pb-20"
    >
      Contáctanos
    </h2>
    <p class="text-white">
      Queremos asegurarnos de que encuentres la mejor solución para proteger a
      tus gatos. Si tienes alguna consulta o necesitas ayuda, completa el
      formulario de contacto y te asistiremos con gusto.
    </p>
    <form class="mx-auto pt-10">
      <div class="mb-5">
        <label
          for="email-address-icon"
          class="text-white block mb-2 font-medium">Email de contacte</label
        >
        <div>
          <input
            type="text"
            id="email-address-icon"
            class="rounded-lg block w-full p-2.5"
          />
        </div>
      </div>
      <div class="mb-5">
        <label for="message" class="block mb-2 text-white">Comentaris</label>
        <textarea id="message" rows="4" class="block p-2.5 w-full rounded-lg"
        ></textarea>
      </div>
      <button
        type="submit"
        class="bg-orange rounded-lg px-5 py-2.5 text-center w-full lg:w-auto"
        >Enviar</button
      >
    </form>
  </section>
</div>
