---
import { Image } from "astro:assets";
import myImage from "../../public/img/home_terrassa.jpg";
---

<header
  class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center py-16 px-4 md:px-8 lg:px-16"
>
  <div class="text-center md:text-left">
    <h1 class="font-notosans text-3xl lg:text-5xl font-bold text-gray-800 mb-4">
      Protege su curiosidad, asegura su hogar y bienestar
    </h1>
    <p class="text-lg lg:text-xl text-gray-600">
      Barreras y sistemas de protección para balcones y ventanas, diseñados para
      la seguridad de tus gatos.
    </p>
  </div>

  <div>
    <Image
      src={myImage}
      class="w-full h-auto rounded-lg shadow-lg"
      alt="Fotografía de un balcon en Barcelona que tiene una malla de seguridad instalado para que no se escapen los gatos del habitaculo."
    />
  </div>
</header>
