---
import Accordion from "../components/Accordion/accordion.astro";
---

<section class="my-16 mx-auto max-w-prose">
  <section class="max-w-5xl mx-auto">
    <!-- <h2
      class="p-10 pb-4 text-2xl font-noto text-center lg:text-3xl lg:py-40 lg:pb-20"
    > -->
    <h2 class="font-noto p-6 pb-12 text-2xl lg:text-3xl text-center">
      Seguridad para tus gatos, bienestar y tranquilidad en tu hogar. Nuestra
      experiencia nos avala.
    </h2>
    <div class="pt-0 p-6">
      <Accordion
        title="Es veu molt?"
        details="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum numquam optio sit voluptatum laborum aliquid enim animi tempora odit, odio, placeat aspernatur quas, accusantium assumenda. Inventore maiores eius quos qui sint? Voluptatem esse tenetur eum pariatur accusamus magnam cum!"
      />
      <Accordion
        title="Garantia?"
        details="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum numquam optio sit voluptatum laborum aliquid enim animi tempora odit, odio, placeat aspernatur quas, accusantium assumenda. Inventore maiores eius quos qui sint? Voluptatem esse tenetur eum pariatur accusamus magnam cum!2"
      />
      <Accordion
        title="Quines mesures he de prendre per un pressupost?"
        details="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum numquam optio sit voluptatum laborum aliquid enim animi tempora odit, odio, placeat aspernatur quas, accusantium assumenda. Inventore maiores eius quos qui sint? Voluptatem esse tenetur eum pariatur accusamus magnam cum!3"
      />
      <Accordion
        title="Resistencia?"
        details="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum numquam optio sit voluptatum laborum aliquid enim animi tempora odit, odio, placeat aspernatur quas, accusantium assumenda. Inventore maiores eius quos qui sint? Voluptatem esse tenetur eum pariatur accusamus magnam cum!4"
      />
      <Accordion
        title="Realment es cauen els gats?"
        details="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum numquam optio sit voluptatum laborum aliquid enim animi tempora odit, odio, placeat aspernatur quas, accusantium assumenda. Inventore maiores eius quos qui sint? Voluptatem esse tenetur eum pariatur accusamus magnam cum!5"
      />
      <Accordion
        title="Afecta molt la façana?"
        details="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum numquam optio sit voluptatum laborum aliquid enim animi tempora odit, odio, placeat aspernatur quas, accusantium assumenda. Inventore maiores eius quos qui sint? Voluptatem esse tenetur eum pariatur accusamus magnam cum!6"
      />
      <Accordion
        title="Es pot treure fàcilment?"
        details="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum numquam optio sit voluptatum laborum aliquid enim animi tempora odit, odio, placeat aspernatur quas, accusantium assumenda. Inventore maiores eius quos qui sint? Voluptatem esse tenetur eum pariatur accusamus magnam cum!7"
      />
    </div>
  </section>
</section>
